@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav{
    position: absolute;
    right: 0;
    left: 0;
    padding: 5% 1%;
    z-index: 2;
    &__list{
        list-style: none;
        display: flex;
        width: 100%;
        &__item{
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            width: 100%;
            &__img{
                width: 70%;
                max-width: 200px;
            }

            &__boton{
                text-decoration: none;
                background-color: white;
                padding: 1% 10%;
                border-radius: 15px;
                color: black;
                box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.26);
            }
        }
    }
}

.inicio{
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__contenedor{
        padding: 2%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        &__parrafo{
            color: gray;
            font-family: 'Poppins', sans-serif;
            margin: 10% 5%;
        }

        &__boton{
            background-color: hsl(322, 100%, 66%);
            padding: 3% 9%;
            border-radius: 15px;
            text-decoration: none;
            color: white;
            font-size: small;
            font-weight: 900;
        }

        &__imgP{
            width: 80%;
            margin: 10% 3%; 
        }
    }
}

.background{
    width: 100%;
    background-color:  hsl(193, 100%, 96%);
    &__imgD{
        display: none;
    }

    &__imgM{
        width: 100%;
        min-height: 700px;
    }
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%;
    &__card{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        border-radius: 10px;
        box-shadow: 0 0 4px 4px rgba(67, 66, 66, 0.151);
        margin-top: 10%;
        text-align: center;
        
        &__img{
            width: 80%;
            padding: 2%;
            margin: 10% 0;
        }

        &__cont{
            padding: 7%;
            &__titulo{
                margin: 2% 0;
            }

            &__parrafo{
                color:  hsl(208, 11%, 55%);
                font-size: small;
            }
        }

    }
}

.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 15% 0%;
    text-align: center;
    
    &__cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: white;
        width: 70%;
        border-radius: 10px;
        padding: 6%;
        box-shadow: 0 0 4px 4px rgba(128, 128, 128, 0.264);

        &__titulo{
            margin: 4% 0;
        }

        &__boton{
            background-color:  hsl(322, 100%, 66%);
            padding: 4% 15%;
            color: white;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 900;
            font-size: 50%;
        }

        &__boton:hover{
            background-color:#E99EC5;
        }

    }
   }


.footer{
    background-color: #00242D;
   
    &__contenedor{
        padding-top: 25%;
        padding-left: 5%;
        padding-right: 10%;
        padding-bottom: 10%;
        top: 100px;

    }
}

.lista{
    color: white;
    &__logo{
        width: 50%;
        margin: 8% 0;
    }

    &__info{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 3% 0;
        font-size: 80%;
        &__img{
            width: 5%;
            margin: 2%;
        }
    }
}

.informacion{
    
    &__lista{
        list-style: none;
        margin-top: 4%;
        &__item{
            text-decoration: none;
            color: white;
            font-size: 80%;
        }
    }
}

.contacto{

    &__lista{
        list-style: none;

        &__item{
            text-decoration: none;
            color: white;
            font-size: 80%;
        }
    }
}

.redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__lista{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 10%;
        min-height: 30px;
        margin: 2%;
        text-decoration: none;
        &__icon{
            padding: 1%;
        }
    }

    &__lista:hover{
        color: hsl(322, 100%, 66%);
        border: 1px solid hsl(322, 100%, 66%);
    }
}

.contendorR{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0;
}

.copy{
    width: 100%;
    margin-top: 2%;
    text-align: center;
    font-size: small;
    color: white;
}


@media screen and (min-width:600px){
    .nav{
        &__list{
            width: 100%;
            &__item{
            
                &__img{
                    width: 50%;
                    margin-right: 30%;
                }
    
                &__boton{
                    margin-left: 50%;
                }
            }
        }
    }

    .inicio{
        top: 8%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 80%;
        &__contenedor{
            text-align: left;
            align-items: flex-start;
            margin-left: 2%;
            &__parrafo{
                margin: 10% 2%;
            }
    
            &__imgP{
                width: 50%;
                margin: 10% 3%; 
            }
        }
    }

    .background{
        width: 100%;
        background-color:  hsl(193, 100%, 96%);
        &__imgD{
            display: block;
            width: 100%;
            max-height: 600px;
            object-fit: contain;
        }
    
        &__imgM{
            display: none;
            width: 100%;
            min-height: 500px;
        }
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 7%;
        &__card{
            width: 90%;
            flex-direction: row-reverse;
            padding: 2%;
            border-radius: 10px;
            text-align: left;
            
            &__img{
                width: 40%;
            }
    
        }
    }

.revert{
    flex-direction: row !important;
}

.cards{    
    &__cont{
        width: 55%;
        font-size: x-large;
        &__boton{
            font-size: 70%;
        }
    }
   }

   .footer{
    &__contenedor{
    display: flex;
    }
   }

   .lista{
    width: 50%;
    &__logo{
        width: 30%;
        margin: 5% 0;
    }

    &__info{
        width: 80%;
        margin: 3% 0;
        font-size: 80%;
    }
}

.informacion{
    width: 25%;
    margin-top: 4%;
}

.contacto{
width: 20%;
margin-top: 4%;
    &__lista{
        &__item{
            text-decoration: none;
            color: white;
            font-size: 80%;
        }
    }
}

.redes{
    width: 100%;
    margin-top: 4%;
    &__lista{
        width: 15%;
        min-height: 30px;
    }

}

.contendorR{
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

.copy{
    width: 100%;
    text-align: center;
    &__parrafo{
    width: 100%;
    font-size: 60%;
    }
}



}

@media screen and (min-width: 1000px) {

    .nav{
        &__list{
            &__item{
                &__img{
                    width: 90%;
                    max-width: 250px;
                    margin-right: 50%;
                }
            }
        }
    }

    .inicio{
        top: 8%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 180%;
    }

    .background{
        &__imgD{
            display: block;
            width: 100%;
            max-height: 900px;
            object-fit: contain;
        }
    }

    .contenedor{
        padding: 7%;
        font-size: xx-large;
        &__card{
            width: 90%;
            max-height: 400px;
            flex-direction: row-reverse;
            padding: 2%;
            border-radius: 10px;
            text-align: left;
            
            &__img{
                width: 30%;
            }

            &__cont{

                &__parrafo{
                    font-size: large;
                }
            }
    
        }
    }

    .cards{    
        &__cont{
            width: 55%;
            font-size: xX-large;
            &__boton{
                font-size: 50%;
                padding: 2% 8%;
            }
        }
       }

    .footer{
        background-color: #00242D;
       
        &__contenedor{
            padding-top: 13%;
            padding-left: 5%;
            padding-right: 10%;
            padding-bottom: 5%;
            top: 100px;
    
        }
    }

    .copy{
        &__parrafo{
        width: 100%;
        font-size: 80%;
        }
    }

    .redes{
        &__lista{
            width: 15%;
            min-height: 40px;
        }
    
    }
}

@media screen and (min-width: 2000px) {
*{
    font-size: xx-large;
}
    .background{
        &__imgD{
            display: block;
            width: 100%;
            min-height: 1200px;
            object-fit: contain;
        }
    }
}